@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Work+Sans');

* {
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body, body a {
    background: #00AEC6;
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Work Sans", serif;
}

section {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

section > header {
    display: flex;
    padding-top: 1em;
    text-align: center;
}

section > header h2 {
    margin: 0 auto;
    font-size: 250%;
    text-transform: uppercase;

    border-bottom: 0.1em white solid;
}

#intro h1 {
    font-size: 400%;
    padding-bottom: 1em;
}

#intro h2 {
    font-size: 200%;
    padding-bottom: 1em;
}

#intro button {
    border: 0.2em white solid;
    padding: 0.5em 0 0.5em 1em;
    background: none;
    color: white;
    font-size: 150%;
    text-align: left;
    font-weight: bold;
}

#intro button:after {
    padding: 0 1em;
    content: '>';
}

.section-center {
    display: flex;
    flex-direction: column;
    margin: auto auto;
    max-width: 80vw;
    text-align: center;
}

.section-center > * {
    margin: auto auto;
}