@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Work+Sans');

@keyframes rotate90 {
    from {transform: rotate(0deg)}
    to {transform: rotate(90deg)}
}

@keyframes highlight {
    from {
        background: none;
        border-color: white;
    }
    to {
        background: salmon;
        border-color: salmon;
    }
}

* {
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body, body a {
    background: #00AEC6;
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Work Sans", serif;
}

section {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

section > header {
    display: flex;
    padding-top: 1em;
    text-align: center;
}

section > header h2 {
    margin: 0 auto;
    font-size: 250%;
    text-transform: uppercase;

    border-bottom: 0.1em white solid;
}

.section-center {
    display: flex;
    flex-direction: column;
    margin: auto auto;
    max-width: 80vw;
    text-align: center;
}

.section-center > * {
    margin: auto auto;
}

#intro h1 {
    font-size: 400%;
    padding-bottom: 1em;
}

#intro h2 {
    font-size: 200%;
    padding-bottom: 1em;
}

#intro button {
    border: 0.2em white solid;
    padding: 0.5em 1em;
    background: none;
    color: white;
    font-size: 150%;
    text-align: left;
    font-weight: bold;
}

#intro span {
    padding-right: 1em;
}

#intro i {
    display: inline-block;
}

#intro button:hover > i {
    animation: rotate90 0.5s forwards;
}

#intro button:hover {
    cursor: pointer;
    animation: highlight 0.5s forwards;
}

#about {
    background: #EE6C4D;
}

#about h2, #projects h2, #contact h2 {
    color: white;
    border-color: white;
}

#projects {
    background: #8e44ad;
}

#contact {
    background: #27ae60;
}